{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Folhas Principais-->

    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
    <title>Cadastrar Empréstimo</title>
</head>

<body>

    <!--Container Principal-->

    <div class="container">

        <!--Header Principal-->

        <div class="header">

            <!--Barra de Navegação-->

            <div class="nav">

                <!--Navegação Esquerda-->

                <div class="nav-left">
                    <div class="nav-text-primary">
                        <style type="text/css">
                            a:link {
                                text-decoration: none;
                            }
                        </style>
                        <a href="/" class="text-decoration">
                            <h2>Buks</h2>
                            <p>A biblioteca que move o mundo...</p>
                        </a>
                    </div>
                </div>

                <!--Navegação Direita-->

                <div class="nav-right">
                    <div class="my-account">
                        <img src="{% static '/images/my-account.svg' %}" alt="">
                        <p>Minha Conta</p>
                    </div>
                </div>
            </div>

            <!--Fim da Barra de Navegação-->

        </div>

        <!--Fim do Container Principal-->

        <!--Aba de Opções-->

        <div class="list">

            <!--Conteudo das listas-->

            <div class="list-content">
                <ul>
                    <li><a class="tablinks" href="/" title="Estante" id="defaultopenPage">Estantes</a></li>
                    <li><a class="tablinks" href="/register/book" title="Livros">Livros</a></li>
                    <li><a class="tablinks" href="/register/lending" href="/register/client" title="Clientes">Clientes</a></li>
                    <li><a class="tablinks active" title="Empréstimo">Empréstimo</a></li>
                    <li><a class="tablinks" title="Compras">Compras</a></li>
                    <li><a class="tablinks" title="Recebimento">Recebimento</a></li>
                    <li><a class="tablinks" title="Funcionarios">Funcionarios</a></li>
                </ul>
            </div>

            <!--Fim do Conteudo das listas-->

        </div>

        <!--Fim das Aba de Opções-->

        <!--Inicio do container Principal-->

        <div class="content">

            <!--Opação dos Emprestimo-->

            <div class="tabcontent" id="livro-content">

                <!--Emprestimo-->

                <div class="livro">
                    <h1>Empréstimo - opções</h1>
                    <div class="livro-option">
                        <div class="livro-option-button">
                            <a href="/register/book"><button type="button" class="btn-book activeButton"
                                    id="defaultBook">Cadastrar
                                </button></a>
                            <a href="/update/book"><button type="button" class="btn-book">Alterar</button></a>
                            <a href="/read/book"><button type="button" class="btn-book">Consultar</button></a>
                            <a href="/delete/book"><button type="button" class="btn-book">Excluir</button></a>
                        </div>
                    </div>
                    <div class="livro-pages">
                        <div class="livroContent" id="cadastroLivro">
                            <div class="cadastro-content">
                                <div class="cadastro-form">
                                    <form method="POST" enctype="multipart/form-data" name="formResgisterBook">
                                        {% csrf_token %}
                                        <div class="row-cadastro-form">
                                            <input type="text" id="valid"
                                                value="{{ request.session.validRegisterBook }}">
                                            <label for="{{ form.id.id_for_label }}">ID</label>
                                            <input type="text" id="{{ form.isbn.id_for_label }}"
                                                name="{{ form.id.name }}"
                                                value="{{ form.id.value|default_if_none:'' }}"
                                                placeholder="Código ID" style="width: 15%;" id="teste1">
                                            <!-- {{ form.isbn.errors }} -->

                                            <label for="{{ form.capa.id_for_label }}">Data e Hora</label>
                                            <input type="datetime-local" id="{{ form.capa.id_for_label }}"
                                                name="{{ form.capa.name }}"
                                                value="{{ form.capa.value|default_if_none:'' }}" style="width: 20%;">
                                            <!-- {{ form.capa.errors }} -->

                                            <label for="{{ form.capa.id_for_label }}">Data de Devolução</label>
                                            <input type="datetime-local" id="{{ form.capa.id_for_label }}"
                                                name="{{ form.capa.name }}"
                                                value="{{ form.capa.value|default_if_none:'' }}" style="width: 20%;">
                                            <!-- {{ form.capa.errors }} -->
                                        </div>

                                        <div class="row-cadastro-form">
                                            <label for="{{ form.cliente.id_for_label }}">Cliente</label>
                                            <select name="" id="{{ form.cliente.id_for_label }}" style="width: 40%;">
                                                <option value="">Selecione...</option>
                                                <option value="">Fabio</option>
                                                <option value="">Otávio</option>
                                                <option value="">Sérgio</option>
                                            </select>

                                            <label for="{{ form.livro.id_for_label }}">Livro</label>
                                            <select name="" id="{{ form.livro.id_for_label }}" style="width: 40%;">
                                                <option value="">Selecione...</option>
                                                <option value="">Fabio</option>
                                                <option value="">Otávio</option>
                                                <option value="">Sérgio</option>
                                            </select>
                                        </div>

                                        <div class="row-cadastro-form">
                                            <label for="{{ form.editora.id_for_label }}">Preço Unitário</label>
                                            <input type="text" id="{{ form.editora.id_for_label }}"
                                                name="{{ form.editora.name }}"
                                                value="{{ form.editora.value|default_if_none:'' }}"
                                                placeholder="R$ 0,00" style="width: 20%;">
                                            
                                            <label for="{{ form.quantidade.id_for_label }}">Quantidade</label>
                                            <input type="text" id="{{ form.quantidade.id_for_label }}"
                                                name="{{ form.quantidade.name }}"
                                                value="{{ form.quantidade.value|default_if_none:0 }}" placeholder="Qtd"
                                                style="width: 15%">

                                            <label for="{{ form.ano.id_for_label }}">Valor</label>
                                            <input type="text" id="{{ form.ano.id_for_label }}"
                                                name="{{ form.ano.name }}"
                                                value="{{ form.ano.value|default_if_none:'' }}"
                                                placeholder="R$ 0,00" style="width: 20%;">
                                        </div>

                                        <div class="row-cadastro-form">
                                            <label for="{{ form.edicao.id_for_label }}">Forma de Pagamento</label>
                                            <input type="text" id="{{ form.edicao.id_for_label }}"
                                                name="{{ form.edicao.name }}"
                                                value="{{ form.edicao.value|default_if_none:'' }}" placeholder="Cartão, Dinheiro"
                                                style="width: 15;">

                                            <label for="{{ form.genero.id_for_label }}">Desconto</label>
                                            <input type="text" id="{{ form.genero.id_for_label }}"
                                                name="{{ form.genero.name }}"
                                                value="{{ form.genero.value|default_if_none:'' }}"
                                                placeholder="R$ 0,00" style="width: 20%;">

                                            <label for="{{ form.edicao.id_for_label }}">Valor Total</label>
                                            <input type="text" id="{{ form.edicao.id_for_label }}"
                                                name="{{ form.edicao.name }}"
                                                value="{{ form.edicao.value|default_if_none:'' }}" placeholder="R$ 0,00"
                                                style="width: 15;">
                                        </div>

                                        <div class="row-cadastro-btn" style="margin-top: 40px;">
                                            <button type="reset">Limpar</button>
                                            <button type="button" id="book-register-confirm">Cadastrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Fim dos Livros-->

            </div>

            <!--Fim das Opação dos livros-->

        </div>

        <!--Fim do container Principal-->

    </div>

    <script>
        //Referencia do Botao
        let $btnBookCadConfirm = document.getElementById('book-register-confirm');
        //Tela de Confirmação
        $btnBookCadConfirm.addEventListener('click', async function () {
            Swal.fire({
                'title': 'Confirmação!',
                'icon': 'warning',
                'text': 'Deseja confirmar essa operação?',
                'cancelButtonText': 'Não',
                'confirmButtonText': 'Sim',
                'showCancelButton': true,
                'showCloseButton': true,
            }).then((result) => {
                if (result.value) {
                    sendRegisterBook();
                }
            })
        })
    </script>

    <script>
        //Função para tratamento da tela de cofirmação
        window.onload = function () {
            let $valid = document.getElementById('valid').value;
            console.log($valid);
            if ($valid == "sim") {
                showSuccessRegisterBook();
            }
        }
    </script>

    <!--Scripts do Projeto-->

    <script src="{% static 'js/alertas.js' %}"></script>
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>

</body>

</html>